.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    width: 90%;
    margin: 50px auto;
}

.card {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-evenly;
    width: 30vw;
    height: 55vh;
    overflow: hidden;
    padding: 15px;
    background-color: #2a138d;
    border-radius: 10px;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s forwards;

}

.icone-w img {
    width: 60px;
    height: auto;
}

.not-available {
    margin-top: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: large;
}

.card img {
    width: 15vw;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 250px) and (max-width:900px) {

    .card {
        font-size: large;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 70vw;
        height: 55vh;
    }

    .card img {
        width: 40vw;
        height: auto;
    }

}